body{
	font-family: "Helvetica";
}

html{
	justify-content:center;
	text-align: center;
}









.pink{
	color: hotpink;	
	background-color: #3E3E3E;
	font-family: 'Kaushan Script', cursive;	
	font-size: .5rem;
}

@media(min-width:936px){
header{
	background-color: #3E3E3E;
	display: grid;
	grid-template-rows: 4rem;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	list-style: none;
	}
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }



@media(min-width:936px){
.click{
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 4rem;
	list-style: none;
	max-width: 500px;
	min-width: 400px;
	padding: 1rem;
	position: absolute;
	right: .5rem;
	width: 25%;
	height: 18rem;}
	}
}


.first{


}








.generic{
	background-image: url(images/hero-bg.jpg);
	background-attachment: absolute;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10rem 2rem;
}

.top{
	color: white;
	font-family: 'Kaushan Script', cursive;
	font-size: 1rem;
}
.most{
	color: white;
	font-size: 3rem;
	text-transform: uppercase;

}

@media (min-width:936px){
.services{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 7rem 7rem 7rem;


	}
}

}



.business{
 background-color: white;

}











@media ( min-width:936px ) {

.port{
	background-color: lightgray;
	padding: auto;
}
.portfolio{
align-items: center;
background-color: lightgray;
display: grid;
grid-gap: 2rem ;
grid-template-columns: 1fr 1fr 1fr;
margin: auto;
padding: 2rem;

text-align: center;
;
	}

}



.blueberries{
	background-color: white;
	height: 26rem;
	text-align: center;
	width: 25rem;
}



.toast{
	background-color: white;
	height: 26rem;
	text-align: center;
	width: 25rem;
}



.pear{
	background-color: white;
	height: 26rem;
	text-align: center;
	width: 25rem;
}


.burger{
	background-color: white;
	height: 26rem;
	text-align: center;
	width: 25rem;
}


.platter{
	background-color: white;
	height: 26rem;
	text-align: center;
	width: 25rem;
}


.cobbler{
	background-color: white;
	height: 26rem;
	text-align: center;
	width: 25rem;
}



@media(min-width:936px){
footer{

	display: grid;
	grid-template-rows: 4rem;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	list-style: none;
	}
}

.copy {
	color: black;
	font-size: .5rem;
}
.list {
	display: grid;
	grid-template-columns: repeat( 3, 1fr );
	padding: 1rem;
	position: absolute;
	right: .5rem;
	width: 25%;
	height: 18rem;
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }


p{
	color: gray;
}


.button1{
background: limegreen;
color: white;
border: none;
font-size: 1rem;


text-transform: uppercase;	
}



